@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
/*teste git*/

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #498b60;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #252625;
    z-index:5050;
    position: fixed;
    width: 100%;
    box-shadow: 5px 5px 10px #000c025d;
}

.titulo-principal {
    position: absolute;
    top: 5px;
    left: -40px;
    /* width: 100px; */
}

li,a,button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #F2F1DC;
    text-decoration: none; 
}

.logo {
    cursor: pointer;
    max-width: 85px;
}

.nav_link { 
    list-style: none;
}

.nav_link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_link li a {
    transition: all 0.3s ease 0s;
}

.nav_link li a:hover {
    color: #6FA682
}

button {
    padding: 9px 25px;
    background-color: rgba(111, 166, 130,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    color: rgba(111, 166, 130,0.8);
}

.banner {
    width: 100%;
    height: 100vh;
}


.titulo-servico {
    text-align: center;
    padding: 5px;
    color: #ffffff;
    font-size: 23px;
    margin-bottom: 20px;
}

.container {
    position: relative;
  }
  
#image {
    width: 100%;
    height: 100vh;
    box-shadow: 5px 5px 10px #000c025d;
}

.texto {
    font-family: 'Inter', sans-serif;
    position: absolute;
    font-size: 100px;
    left: 123px;
    top: 459px;
    width: 893px;
    font-weight: bold;
    color: rgba(111, 166, 130);
    text-shadow: 5px 5px 9px #252625;
    /* width: 178px; */
}

.sub-texto {
    font-family: 'Inter', sans-serif;
    position: absolute;
    font-size: 40px;
    left: 403px;
    top: 566px;
    font-weight: bold;
    color: white;
    width: 593px;
    text-shadow: 5px 5px 9px #252625;
}

.conteudo {
    margin: 44px auto;
    max-width: 763px;
    width: 100%;
}


.lista-servico li {
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    margin-left: 18px;
    color: aliceblue;
}

.lista-servico {
    list-style-position: inside;
    columns: 2;
    margin-top: 20px;
}

h1#localizacao {
    text-align: center;
    margin: auto;
    padding: 10px;
}

.section-imagem-main {
    text-align: center;
    background-image: url("imagens/pexels-andrea-piacquadio-3806288.jpg");
    background-size: cover;
    height: 368px;
}

.imagem-main {
    width: 0px;
}

.principal {
    margin: -5px auto;
    max-width: 1200px;
    width: 100%;
    max-height: 1135px;
    padding: 31px;
    background-color: #252625;
    color: white;
    position: relative;
    height: 827px;
}

div.video {
    /* margin: 0px -40px 30px -40px; */
    /* padding: 20px; */
    padding-bottom: 47%;
    width: 90%;
}

div.video > iframe {
    position: absolute;
    top:5%;
    left:10%;
    width: 80%;
    height: 50%;
}

.localizacao {
    background-color:#252625 ;
    color: #ffffff;
}

.frente {
    max-width: 300px;
    margin-left: 62px;
    margin-top: 29px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000c025d;
    -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}

.frente:hover { 
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

footer {
    background-color: #252625;
    color: white;
    margin: auto;
    padding: 40px;
}

h3 {
    color: #6FA682;
    margin-top: 5px;
}

@media only screen and (max-width: 1000px) {
    .titulo-principal {
        position: absolute;
        top: -28px;
        left: -89px;
        /* width: 100px; */
    }
    .texto {
        font-size: 63px;    
    }
    .sub-texto {
        font-size: 28px;
        left: 261px;
        top: 524px;
    }
    .imagens {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 580px) {
    .texto {
        font-size: 40px;
        left: 112px;
        top: 459px;
        max-width: 366px;
    }
    .sub-texto {
        font-size: 20px;
        left: 167px;
        top: 504px;
        max-width: 300px;
    }
    .conteudo {
        margin: 59px auto;
        max-width: 375px;
        width: 100%;
    }
    .p-conteudo{
        font-size: 13px;
    }
}

@media only screen and (max-width: 550px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(37, 38, 37);
        z-index: 5050;
        padding: 0px;
        position: fixed;
        width: 100%;
        box-shadow: rgb(0 12 2 / 37%) 5px 5px 10px;
        flex-direction: column;
    }
    .logo {
        cursor: pointer;
        max-width: 56px;
        margin-bottom: 9px;
        margin-top: 9px;
    }
    
    nav {
        background-color: #2c2c2c;
        width: 100%;
        /* margin: auto; */
        text-align: center;
        padding: 3px;
    }
    .sub-texto {
        font-size: 18px;
        left: 111px;
        top: 400px;
        max-width: 302px;
        text-align: center;
    }
    .texto {
        font-size: 33px;
        left: 112px;
        top: 364px;
        max-width: 327px;
    }
    .imagens {
        display: flex;
        flex-wrap: nowrap;
        text-align: center;
        flex-direction: column;
    }
    .frente {
        max-width: 67%;
        /* margin-left: 62px; */
        margin-top: 29px;
    }
    .conteudo {
        margin: 13px auto;
    }
}

