@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
/*teste git*/

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #252625;
    z-index:5050;
    position: fixed;
    width: 100%;
    box-shadow: 5px 5px 10px #000c025d;
}

.titulo-principal {
    position: absolute;
    top: 5px;
    left: -40px;
    /* width: 100px; */
}

li,a,button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #F2F1DC;
    text-decoration: none; 
}

.logo {
    cursor: pointer;
    max-width: 85px;
}

.nav_link { 
    list-style: none;
}

.nav_link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_link li a {
    transition: all 0.3s ease 0s;
}

.nav_link li a:hover {
    color: #6FA682
}

button {
    padding: 9px 25px;
    background-color: rgba(111, 166, 130,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    color: rgba(111, 166, 130,0.8);
}

.banner {
    width: 100%;
    height: 100vh;
}


.titulo-servico {
    text-align: center;
    padding: 5px;
    color: #6FA682;
}

.container {
    position: relative;
  }
  
#image {
    width: 100%;
    height: 100vh;
    box-shadow: 5px 5px 10px #000c025d;
}

.texto {
    font-family: 'Inter', sans-serif;
    position: absolute;
    font-size: 100px;
    left: 123px;
    top: 459px;
    width: 893px;
    font-weight: bold;
    color: rgba(111, 166, 130);
    text-shadow: 5px 5px 9px #252625;
    /* width: 178px; */
}

.sub-texto {
    font-family: 'Inter', sans-serif;
    position: absolute;
    font-size: 40px;
    left: 403px;
    top: 566px;
    font-weight: bold;
    color: white;
    width: 593px;
    text-shadow: 5px 5px 9px #252625;
}

.conteudo {
    margin-top: 87px;
}


.lista-servico li {
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    margin-left: 18px;
}

h1#localizacao {
    text-align: center;
    margin: auto;
    padding: 10px;
}

.principal {
    margin: -5px auto -4px auto;
    max-width: 1200px;
    max-height: 1126px;
    padding: 31px;
    background-color: #252625;
    color: white;
    position: relative;
    height: 1119px;
}

div.video {
    /* margin: 0px -40px 30px -40px; */
    /* padding: 20px; */
    padding-bottom: 47%;
    width: 90%;
}

div.video > iframe {
    position: absolute;
    top:5%;
    left:10%;
    width: 80%;
    height: 50%;
}

.localizacao {
    background-color:#252625 ;
    color: #6FA682;
}

.frente {
    max-width: 300px;
    margin-left: 62px;
    margin-top: 29px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000c025d;
    -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}

.frente:hover { 
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

footer {
    background-color: #252625;
    color: white;
    margin: auto;
    padding: 40px;
}

h3 {
    color: #6FA682;
    margin-top: 5px;
}



